<section id="about" class="section">
  <div class="content">
    <p>
      Hello! I'm a software engineer who enjoys building things for the web. My interest in web development started back in 2012 when I decided to try editing custom Tumblr themes — turns out hacking together HTML & CSS is pretty fun!
    </p>
    <p>
      Fast-forward to today, and I've had the privilege of working at an advertising agency, a start-up, a huge corporation, and a student-led design studio. My main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.
    </p>
    <p>
      I also recently launched a course that covers everything you need to build a web app with the Spotify API using Node & React.
    </p>
    <p>
      Here are a few technologies I've been working with recently:
    </p>
    <ul class="skills-list">
      <li>JavaScript (ES6+)</li>
      <li>TypeScript</li>
      <li>React</li>
      <li>Eleventy</li>
      <li>Node.js</li>
      <li>WordPress</li>
    </ul>
  </div>
</section>

<style>
  .skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0 10px;
    padding: 0;
    margin: 20px 0 0 0;
    overflow: hidden;
    list-style: none;
  }

  .skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: 0.8rem;
  }

  .skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0;
    color: var(--green);
  }
</style>
