<section id="experience" class="section">
  <h2 class="section-title">Experience</h2>
  <div class="job">
    <h3>Senior Engineer @ Company A</h3>
    <p class="range">2023 - Present</p>
    <ul>
      <li>Deliver high-quality, robust production code for a diverse array of projects for clients including Harvard Business School, Everytown for Gun Safety, Pratt Institute, Koala Health, Vanderbilt University, The 19th News, and more.</li>
      <li>Work alongside creative directors, leads, designers, and fellow developers to transform creative concepts into production realities for clients and stakeholders.</li>
      <li>Provide leadership within engineering department through close collaboration, knowledge shares, and mentorship.</li>
    </ul>
  </div>
  <div class="job">
    <h3>Engineer @ Company B</h3>
    <p class="range">2020 - 2023</p>
    <ul>
      <li>Developed and maintained code for client websites primarily using HTML, CSS, Sass, JavaScript, and jQuery.</li>
      <li>Manually tested sites in various browsers and mobile devices to ensure cross-browser compatibility and responsiveness.</li>
      <li>Clients included JetBlue, Lovesac, U.S. Cellular, U.S. Department of Defense, and more.</li>
    </ul>
  </div>
  <div class="job">
    <h3>Junior Engineer @ Company C</h3>
    <p class="range">2018 - 2020</p>
    <ul>
      <li>Architected and implemented the front-end of our first mobile app for iOS and Android.</li>
      <li>Interfaced with clients on a weekly basis, providing technological expertise.</li>
      <li>Ensured the best possible performance, quality, and responsiveness of applications.</li>
    </ul>
  </div>
</section>

<style>
  .job {
    margin-bottom: 2rem;
  }

  .job h3 {
    font-size: 1.2rem;
    color: var(--lightest-slate);
  }

  .range {
    font-family: var(--font-mono);
    font-size: 0.8rem;
    color: var(--slate);
    margin-bottom: 1rem;
  }
</style>
