.pixel-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.pixel-card {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  transition: border-color 200ms cubic-bezier(0.5, 1, 0.89, 1);
  user-select: none;
  /* Defaults that can be overridden */
  background: transparent;
  border-radius: clamp(4px, 1vh, 8px); 
}

.pixel-card::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1;
  background: radial-gradient(circle, #09090b, transparent 85%);
  opacity: 0;
  transition: opacity 800ms cubic-bezier(0.5, 1, 0.89, 1);
  z-index: -1;
}

.pixel-card:hover::before,
.pixel-card:focus-within::before {
  opacity: 1;
}
